stino.settings
*~
*bak
MyPrivateConfig.h
Documentation/html
doxygen_sqlite3.db
dist/*
Documentation/*
drivers/*
examples/*
java/*
lib/*
reference/*
tools/*
tools-builder/*
*.exe
*.cmd
*.dll
*.ini
revisions.txt
hardware/*
libraries/Ethernet/*
